<!-- a template to be inserted into the section with "page-content" class. Rendered by the view in views/about.js -->

  <div id="myAboutModal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <h3>About RugbyTrack<sup>TM</sup></h3>  
    </div>  
    <div class="modal-body">  
        <img src="./img/fatkahawai_logo_shaded_200px.png" alt="" style="float:left;margin: 0 5px 0 0;" />
        <div>
          <h4>RugbyTrack from FatKahawai</h4>  
          <p class="lead"><strong>RugbyTrack</strong> is brought to you by the skinny guys at <abbr title="a Pink Pelican (NZ) Limited brand">FatKahawai</abbr>.</p>                
          <p>The RugbyTrack application is also available for the iPad from the Apple Appstore.</p>                
        </div>
    </div>  
    <div class="modal-footer">  
<!--        <a href="#" class="btn btn-success">Call to action</a>  -->
        <a href="#" id="close" class="btn" data-dismiss="modal">Close</a>  
    </div>  
  </div>  
<!--  <p><a data-toggle="modal" href="#myAboutModal" class="btn btn-primary btn-large">Launch  modal</a></p>  -->

